* {
  box-sizing: border-box;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  display:flex;
  .side-bar{
    width: 300px;
    height: 100%;
    &__user-name{
      background-color:#253141;
      width: 300px;
      height:100px;
      &__top-items{
        display:flex;
        justify-content: space-between;
        line-height: 100px;
        &__name{
          padding-left: 20px;
          font-size: 16px;
          color:white;
          font-weight: bold;
        }
        &__icons{
          padding-right: 20px;
          display:flex;
          &__add-group{
            color:white;
            padding-right:5px;
          }
          &__edit{
            color:white;
          }
        }
      }
    }
    &__group-list{
      background-color: #2f3e51;
      width: 100%;
      height: calc(100% - 100px);
      padding-top:20px;
      padding-left:20px;
      padding-right: 20px;
      &__group{
        width: 100%;
        height: 45px;
        margin-bottom: 40px;
        margin-bottom: 40px;
        a{
          text-decoration: none;
        }
        &__name{
          width: 260px;
          height: 23px;
          font-size: 15px;
          margin-bottom: 5px;
          color:white;
          font-weight: bold;
        }
        &__message{
          width: 100%;
          font-size:11px;
          color:white;
          font-weight: bold;
        }
      }
    }
  }
  .main-chat{
    width: 100%;
    height: 100%;
    &__group-info{
      border-bottom: 1px solid #eeeeee;
      background-color: white;
      width:100%;
      height:100px;
      display:flex;
      justify-content: space-between;
      padding-left:40px;
      padding-right:40px;
      &__names{
        &__group-name{
          padding-top:35px;
          font-size:20px;
          color:$dark_grey;
        }
        &__member-names{
          padding-top:15px;
          font-size:12px;
          color:$silver_grey;
        }
      }
      &__edit-button{
        text-decoration:none;
        width:72px;
        height:40px;
        margin-top:28px;
        border:1px solid $safe_color;
        text-align: center;
        line-height: 40px;
        color:$safe_color;
        font-size: 16px;
      }
    }
    &__message-list{
      background-color: #fafafa;
      width:100%;
      height:calc(100vh - 100px - 90px);
      padding: 35px 40px;
      overflow: scroll;
      &__message{
        margin-bottom:46px;
        &__user-info{
          display:flex;
          padding-bottom:12px;
          &__name{
            color:$dark_grey;
            font-size:16px;
            font-weight: bold;;
          }
          &__time{
            color:$silver_grey;
            font-size:12px;
            padding-left:16px;
          }
        }
        &__post-text{
          color:#434a54;
          font-size:14px;
        }
      }
    }
    &__message-form{
      background-color: #d2d2d2;
      width:100%;
      height:90px;
      padding: 20px 40px;
      &__window{
        position:relative;
        &__message{
          position:absolute;
          height: 50px;
          padding-left: 10px;
          width: calc(100% - 100px - 15px);
        }
        &__mask{
          position:absolute;
          right: calc(100px + 15px + 10px);
          height: 50px;
          &__image{
            display:flex;
            &--icon{
              line-height: 50px;
              cursor:pointer;
            }
            &--hidden{
              display:none;
            }
          }
        }
        &__submit{
          cursor:pointer;
          position:absolute;
          right:0px;
          width: 100px;
          height: 50px;
          background-color: $safe_color;
          color: white;
        }
      }
    }
  }
}
